<div class="body">
  <h1>Edit Profile</h1>
  <p> First Name: {{user.firstName}} </p>
  <p> Last Name: {{user.lastName}} </p>
  <form class="form-horizontal" action="/profile-edit" method="post">
    <div class="form-group">
      <label for="email">Email: </label>
      <input id="email" class="form-control" type="text" name="email" />
        <br/>
    </div>
    <div class="form-group">
      <label for="city">City: </label>
      <input id="city" class="form-control" type="text" name="city" />
        <br/>
    </div>
    <div class="form-group">
      <label for="state">State: </label>
      <input id="state" class="form-control" type="text" name="state" />
        <br/>
    </div>
    <div class="form-group">
      <label for="country">Country:</label>
      <input id="country" class="form-control" type="text" name="country" />
        <br/>
    </div>
    <div class="form-group">
      <label for="bio">Bio:</label>
      <input id="bio" class="form-control" type="text" name="bio" />
        <br/>
    </div>
    <div class="form-group">
      <input class="form-control" type="submit" value="Submit" />
    </div>
  </form>
  
  <h2>Ratings</h2>
    {{#each user.ratings as |value key|}}
      {{#ifCond key '!=' "detail"}} <!-- details are not shown to users, internal use only -->
        <p>{{key}}: {{value}} </p>
      {{/ifCond}}
    {{/each}}
    {{#if loggedIn}}
      <p> Have you lived with this person? </p>
      <form id="addRating" method="get" action="/rate/{{user._id}}">
        <button type ="submit">Rate This Roommate</button>
      </form>
    {{/if}}
  
  <h2>Comments</h2>
  <div>
  {{#each comments}}
    <div>
      <p> Date: {{date}} </p>
      <p> {{comment}} </p>
        <button type="button">Flag Comment</button>
    </div>
  {{else}}
    <p>No comments</p>
  {{/each}}
  </div>
  {{#if loggedIn}}
    <button type="button" id="addCommentButton">Add Comment</button>
    <div id="commentFormDiv">
      <form id="addCommentForm">
        <!-- <div>
          <label for="addCommentBox"> Your Comment</label>
          <input id="addCommentBox" type="text" placeholder="Write here" />
        </div> -->
        <button type="submit"> Submit </button>
      </form>
      <textarea form="addCommentForm" id="addCommentBox"></textarea>
    </div>
    <p id="commentFormResponse"></p>
  {{/if}}
</div>
