<div class="body">
  <h1>Profile</h1>
  <p> First Name: {{user.firstName}} </p>
  <p> Last Name: {{user.lastName}} </p>
  <p> Email: {{user.email}} </p>
  <p> City: {{user.address.city}} </p>
  <p> State: {{user.address.state}} </p>
  <p> Country: {{user.address.country}} </p>
  <h2>Ratings</h2>

    {{#each user.ratings as |value key|}}
      {{#ifCond key '!=' "detail"}} <!-- details are not shown to users, internal use only -->
        <p>{{key}}: {{value}} </p>
      {{/ifCond}}
    {{/each}}
    {{#if loggedIn}}
      <p> Have you lived with this person? </p>
      <form id="addRating" method="get" action="/rate/{{user._id}}">
        <button type ="submit">Rate This Roommate</button>
      </form>
    {{/if}}
  
  <h2>Comments</h2>
  <div>
  {{#each comments}}
    <div>
      <p> Date: {{date}} </p>
      <p> {{comment}} </p>
        <button type="button">Flag Comment</button>
    </div>
  {{else}}
    <p>No comments</p>
  {{/each}}
  </div>
  {{#if loggedIn}}
    <button type="button" id="addCommentButton">Add Comment</button>
    <div id="commentFormDiv">
      <form id="addCommentForm">
        <!-- <div>
          <label for="addCommentBox"> Your Comment</label>
          <input id="addCommentBox" type="text" placeholder="Write here" />
        </div> -->
        <button type="submit"> Submit </button>
      </form>
      <textarea form="addCommentForm" id="addCommentBox"></textarea>
    </div>
    <p id="commentFormResponse"></p>
  {{/if}}
</div>
